[Desktop Entry]
Comment=first4 ERP-Suite
Encoding=UTF-8
Exec='/opt/first4/bin/first4'
GenericName=first4
Icon=/opt/first4/bin/logo.png
Name=first4
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
